$primary-color : #4285F4;
$secondary-color: #aa66cc;
$default-color: #2BBBAD;
$danger-color : #ff4444;
$light-color : #fff;
$warning-color :  #ffbb33;
$success-color : #00C851;
$info-color : #33b5e5;
$unique-color : #3F729B;
$bgcolor: #d1d1d1;
