$max: 50;
$offset: 5;
$unit: "px";

@mixin padding ($className, $styleName) {
    $i: 0;
    @while $i <= $max {
      #{$className + $i} { 
        #{$styleName}: #{$i + $unit};
      }
      $i: $i + $offset;
    }
}

@include padding('.pt-', 'padding-top');
@include padding('.pr-', 'padding-right');
@include padding('.pb-', 'padding-bottom');
@include padding('.pl-', 'padding-left');
@include padding('.px-', 'padding');

$mag: 50;
$offset: 5;
$unit: "px";

@mixin margin ($className, $styleName) {
    $i: 0;
    @while $i <= $mag {
      #{$className + $i} { 
        #{$styleName}: #{$i + $unit};
      }
      $i: $i + $offset;
    }
}
@include margin('.mt-', 'margin-top');
@include margin('.mr-', 'margin-right');
@include margin('.mb-', 'margin-bottom');
@include margin('.ml-', 'margin-left');